# Compiled Object files
*.o

# Fortran module files
*.mod

# Compiler information output files
*.L
*.optrpt

# Executables
*.x

# Compiled Static libraries
*.a

# Program Input/Output
in/*
out/*
*.snp
*.sac
*.ps
*.tim
*.ppm
*.png
*.cpt
*.mpg
*.mp4
*.ps
*.nc
fort.*
.gmt*
gmt.*
a.out

# Emacs backup files
*~
\#*
.\#*

# Temporary
*tmp*

# Mac
.DS_Store

# model files
dataset/vmodel/*.lst
dataset/station/*.stlst
*.grd
*.zip
*.csv

# non-repository
src/swpc_1d
bin/branch.sh

# archives
archives/*
