.md-typeset__table {
   min-width: 100%;
}
body {
    font-family: "Noto Sans JP";
}

.md-typeset h1 {
    font-weight: bold;
    /* color: #000; */
    color: #1b8736;
    border-bottom: solid 2px ;
    padding-bottom: 5px;
}
.md-typeset h2 {
    color: #1b8736;
    font-weight: bold;
    border-bottom: 1px dashed;
}

.md-typeset h3 {
    color: #1b8736;
    font-weight: bold;
    border-bottom: 1px dotted #888;
}

.md-typeset h4 {
    color: #1b8736;
    font-weight: bold;
}

.md-typeset .admonition {
    font-size: 0.8rem;
}

.md-typeset table:not([class]) {
    font-size: .8rem;
}

.md-typeset code, .md-typeset pre {
    font-size: 95%;
}